<div class="span12">
  <%= form_for(@grade) do |f| %>
    <% if @grade.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</p>

        <ul>
          <% @grade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="clearfix">
        <%= f.label :year, "Grade Year" %>
        <div class="input">
          <%= f.text_field :year, {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :number_students, "Number of Students" %>
        <div class="input">
          <%= f.text_field :number_students, {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :name, "Grade Name" %>
        <div class="input">
          <%= f.text_field :name, {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :notes, "Notes" %>
        <div class="input">
          <%= f.text_area :notes, {:class => "xlarge" } %>
        </div>
      </div>


      <div class="actions">
        <%= f.submit :class => "btn primary"  %>
      </div>
    </fieldset>
  <% end %>
</div>

