<%= javascript_include_tag 'class_stats' %>
<p><%= link_to "← Retourner à la liste", grades_path %></p>
<h1>Classe: <%= @grade.name %></h1>
<ul>
  <li>Effectif: <%= @grade.number_students %></li>
  <li>Assistance moyen par visite: <%= @grade.average_attendance %> élèves par visite</li>
  <li>Assistance du maître: <%= @grade.teacher_attendance %></li>
</ul>
<h3>Notes Générales:</h3>
<p><%= @grade.notes %></p>
<p><%= link_to "Modifier la classe", edit_grade_path(@grade) %> | 
<%= link_to "Télécharger les statistiques", statistics_grade_path(@grade) + ".csv" %></p>
<p>-----------------------</p>
<p><strong>Cliquez sur la date pour voir les notes de cette visite:</strong></p>
<table class="zebra-striped sorted" data-sort-column="0">
  <thead><th>Date</th><th>Classe</th><th>Temps passé dans la bibliothèque</th><th>Assistance</th><th>Maître présent?</th></thead>
  <tbody>
    <%= render @grade.class_records %>
  </tbody>
</table>

<h2>Statistiques d'assistance:</h2>
<div id="graph-container" data-grade-id="<%= @grade.id %>" style="width:400px; height:300px; margin:25px;"></div>
