<tr>
  <td><%= link_to "#{class_record.arrival.strftime("%Y/%m/%d")}", class_record %></td>
  <td><%= class_record.grade.name %></td>
  <td><%= class_record.delta %> h</td>
  <td><%= class_record.attendance %></td>
  <td <%= "style='background-color:red;'" unless class_record.teacher %>><%= class_record.teacher %></td>
</tr>
