<h1>Tâches administratives</h1>
<p><b>Gérer la collection:</b></p>
<ul>
  <li><%= link_to "Liste des livres", books_path %></li>
  <li><%= link_to "Telecharger la liste des livres", "/books.csv" %></li>
  <li><%= link_to "Ajouter un livre", new_book_path %></li>
</ul>
<p><b>Examiner quel'que statistiques sur la collection:</b></p>
<ul>
  <li><a href="#" data-controls-modal="parent-currently-out">Liste de livre retirés</a></li>
  <li><%= link_to "Statistiques general", stats_path %></li>
</ul>
<p>(Pour examiner les statistiques d'un livre particulier, il faut chercher ce livre et cliquer sur "Statistique" en bas de la page.)</p>

<div id="parent-currently-out" class="modal hide fade">
  <%= render :partial => 'checkout_items/currently_out' %>
</div>
