<h1>Audit: <%= @audit.date_completed %></h1>
<p><%= @audit.notes %></p>

<h2>Books present</h2>
<table class="zebra-striped sorted" >
  <thead><tr><th>Collection</th><th>Titre</th><th>Sujet</th><th>Présent</th><th>Absent</th></thead>
    <tbody>

      <% @books.each do |book| %>
        <% missing = @audit.books[book.id.to_s][:missing] %>
        <tr>
          <td><%= book.collection %></td>
          <td width="30%"><%= link_to book.title, book_path(book) %></td>
        <td width="30%"><% book.subjects.each do |s| %><%= "#{s.name}" %><%= ", " unless s == book.subjects.last %><% end %></td>
        <td><%= @audit.books[book.id.to_s][:present] %></td>
        <td <%= "style='background-color: red;'" if missing != 0 %>><%= missing %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

