<tr>
  <td><%= book.id %></td>
  <td width="50%"><%= link_to book.title, "#{book_path(book.id)}?search=#{@search_query}" %> 
    <% if current_user %>
      | <%= link_to "Edit", edit_book_path(book.id) %>
    <% end %>
    </td>
  <td><% book.subjects.each do |s| %><%= "#{s.name}" %><%= ", " unless s == book.subjects.last %><% end %></td>
</tr>
