<div class="span12">
  <%= form_for(@book) do |f| %>
    <fieldset>

      <div class="clearfix">
        <%= f.label :title %>
        <div class="input">
          <%= f.text_field :title,  {:class => "xlarge" } %>
        </div>
      </div>

      <%= fields_for @book.authors.first do |author_form| %>
        <div class="row">
          <div class="span10 offset1">
            <div class="clearfix">
              <%= author_form.label :last, "Author Last" %>
              <div class="input">
                <%= author_form.text_field :last, {:class => "xlarge" } %>
              </div>
            </div>
            <div class="clearfix">
              <%= author_form.label :first, "Author First" %>
              <div class="input">
                <%= author_form.text_field :first, {:class => "xlarge" } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="clearfix">
        <%= f.label :pub_year %>
        <div class="input">
          <%= f.text_field :pub_year,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :genre %>
        <div class="input">
          <%= f.text_field :genre,  {:class => "xlarge" } %>
        </div>
      </div>

      <%= fields_for @book.subjects.first do |subject_form| %>
        <div class="clearfix">
          <%= subject_form.label :name, "Subject" %>
          <div class="input">
            <%= subject_form.text_field :name, {:class => "xlarge" } %>
          </div>
        </div>
      <% end %>



      <div class="clearfix">
        <%= f.label :age_group %>
        <div class="input">
          <%= f.text_field :age_group,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_pages %>
        <div class="input">
          <%= f.text_field :num_pages,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_copies %>
        <div class="input">
          <%= f.text_field :num_copies,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :series_title %>
        <div class="input">
          <%= f.text_field :series_title,  {:class => "xlarge" } %>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :series_number %>
        <div class="input">
          <%= f.text_field :series_number,  {:class => "xlarge" } %>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :summary %>
        <div class="input">
          <%= f.text_area :summary,  {:class => "xlarge" } %>
        </div>
      </div>

    <div class="actions">
      <%= f.submit({ :class => "btn primary" }) %>
    </div>
  </fieldset>
  <% end %>

</div>
