<div class="span12">
  <%= form_for(@book) do |f| %>
    <fieldset>

      <div class="clearfix">
        <%= f.label :title, "Titre" %>
        <div class="input">
          <%= f.text_field :title,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="multi-inputs">
        <div id="author-inputs"  data-counter="0">
          <% @author_list.each_index do |i| %>
            <div class="row">
              <div class="span10 offset1">
                <div class="clearfix">
                  <%= label "authors[#{i}]", :last, "Auteur (Nom)" %>
                  <div class="input">
                    <%= text_field "authors[#{i}]", :last, {:class => "xlarge", :value => @author_list[i].last } %>
                  </div>
                </div>
                <div class="clearfix">
                  <%= label "authors[#{i}]", :first, "Auteur (Prenom)" %>
                  <div class="input">
                    <%= text_field "authors[#{i}]", :first, {:class => "xlarge", :value => @author_list[i].first } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %> 
        </div>

        <div class="clearfix input">
          <a href="#" id="new-author">Ajouter autre auteur</a>
        </div>
      </div> <!-- end .multi-inputs -->
      <div class="clearfix">
        <%= f.label :pub_year, "Date de publication" %>
        <div class="input">
          <%= f.text_field :pub_year,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :genre %>
        <div class="input">
          <%= f.text_field :genre,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="multi-inputs">
        <div id="subject-inputs" data-counter="0">
          <% @subject_list.each_index do |i| %>
            <div class="clearfix">
              <%= label "subjects[#{i}]", :name, "Sujet" %>
              <div class="input">
                <%= text_field "subjects[#{i}]", :name, {:class => "xlarge subject", :value =>  @subject_list[i].name} %>
              </div>
            </div>
          <% end %>
        </div> <!-- end #subject-inputs -->

        <div class="clearfix input">
          <a href="#" id="new-subject">Ajouter autre sujet</a>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :age_group, "Tranche d'âge" %>
        <div class="input">
          <%= f.text_field :age_group,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_pages, "Nombre de pages" %>
        <div class="input">
          <%= f.text_field :num_pages,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_copies, "Nombre de copies" %>
        <div class="input">
          <%= f.text_field :num_copies,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :series_title, "Titre de série" %>
        <div class="input">
          <%= f.text_field :series_title,  {:class => "xlarge" } %>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :series_number, "Numéro de série" %>
        <div class="input">
          <%= f.text_field :series_number,  {:class => "xlarge" } %>
        </div>
      </div>

       <div class="clearfix">
        <%= f.label :language, "Langue" %>
        <div class="input">
          <%= f.text_field :language,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Collection" %>
        <div class="input">
          <ul class="inputs-list">
            <li>
            <label>
              <%= f.radio_button :collection, "NEP" %>
              <span>Projet d'education de Niamakoro</span>
            </label>
            </li>
            <li>
            <label>
              <%= f.radio_button :collection, "Diarra" %>
              <span>L'Ecole Diarra</span>
            </label>
            </li>
          </ul>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :summary, "Résumé" %>
        <div class="input">
          <%= f.text_area :summary,  {:class => "xxlarge" } %>
        </div>
      </div>

    <div class="actions">
      <%= f.submit({ :class => "btn primary" }) %>
    </div>
  </fieldset>
  <% end %>

</div>
