<div class="span12">
  <%= form_for(@book) do |f| %>
    <fieldset>

      <div class="clearfix">
        <%= f.label :title %>
        <div class="input">
          <%= f.text_field :title,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="multi-inputs">
        <div id="author-inputs"  data-counter="0">
          <% @author_list.each_index do |i| %>
            <div class="row">
              <div class="span10 offset1">
                <div class="clearfix">
                  <%= label "authors[#{i}]", :last, "Author Last" %>
                  <div class="input">
                    <%= text_field "authors[#{i}]", :last, {:class => "xlarge", :value => @author_list[i].last } %>
                  </div>
                </div>
                <div class="clearfix">
                  <%= label "authors[#{i}]", :first, "Author First" %>
                  <div class="input">
                    <%= text_field "authors[#{i}]", :first, {:class => "xlarge", :value => @author_list[i].first } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %> 
        </div>

        <div class="clearfix input">
          <a href="#" id="new-author">Add New Author</a>
        </div>
      </div> <!-- end .multi-inputs -->
      <div class="clearfix">
        <%= f.label :pub_year %>
        <div class="input">
          <%= f.text_field :pub_year,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :genre %>
        <div class="input">
          <%= f.text_field :genre,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="multi-inputs">
        <div id="subject-inputs" data-counter="0">
          <% @subject_list.each_index do |i| %>
            <div class="clearfix">
              <%= label "subjects[#{i}]", :name, "Subject" %>
              <div class="input">
                <%= text_field "subjects[#{i}]", :name, {:class => "xlarge", :value =>  @subject_list[i].name} %>
              </div>
            </div>
          <% end %>
        </div> <!-- end #subject-inputs -->

        <div class="clearfix input">
          <a href="#" id="new-subject">Add New Subject</a>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :age_group %>
        <div class="input">
          <%= f.text_field :age_group,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_pages %>
        <div class="input">
          <%= f.text_field :num_pages,  {:class => "xlarge" } %>
        </div>
      </div>


      <div class="clearfix">
        <%= f.label :num_copies %>
        <div class="input">
          <%= f.text_field :num_copies,  {:class => "xlarge" } %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :series_title %>
        <div class="input">
          <%= f.text_field :series_title,  {:class => "xlarge" } %>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :series_number %>
        <div class="input">
          <%= f.text_field :series_number,  {:class => "xlarge" } %>
        </div>
      </div>
 
      <div class="clearfix">
        <%= f.label :summary %>
        <div class="input">
          <%= f.text_area :summary,  {:class => "xlarge" } %>
        </div>
      </div>

    <div class="actions">
      <%= f.submit({ :class => "btn primary" }) %>
    </div>
  </fieldset>
  <% end %>

</div>
