<h1><%= @book.title %></h1>
<% if current_user %>
<div class="checkout-bar">
<% if @book.checked_in > 0 %>
  <a class="btn" data-controls-modal="parent-checkout">Livre retiré</a>
<% end %>
<% if @book.checked_out > 0 %>
  <a class="btn" data-controls-modal="parent-checkin">Livre rendu</a>
<% end %>
<% end %>
</div>
  <table class="zebra-striped sorted">
      <tbody>
  <tr><td>Titre: </td><td><%= @book.title %></td></tr>
<tr><td>Auteur(s): </td><td><% @book.authors.each do |a| %><%= "#{a.last}, #{a.first}; "  %><% end %></td></tr>
  <tr><td>Date de publication: </td><td><%= @book.pub_year %></td></tr>
<tr><td>Sujet(s): </td><td><% @book.subjects.each do |a| %><%= "#{a.name}; "  %><% end %></td></tr>
  <tr><td>Genre: </td><td><%= @book.genre %></td></tr>
  <tr><td>Tranche d'âge: </td><td><%= @book.age_group %></td></tr>
  <tr><td>Nombre de pages: </td><td><%= @book.num_pages %></td></tr>
  <tr><td>Nombre totale de copies: </td><td>
      <span><%= @book.num_copies %> <span style="color: red; padding-right:10px;">-- <span id="copies-checked-out"><%= @book.checked_out %></span> copie(s) retiré(s) </span> </span>
      <% if @book.checked_out > 0 %>
        <a class="btn" data-controls-modal="parent-current-checkouts" data-backdrop="static">Voir liste</a>
      <% end %>
  </td></tr>
  <tr><td>Nombre de copies NEP:</td><td><%= @book.num_copies_nep %></td></tr>
  <tr><td>Nombre de copies Maouru Diarra:</td><td><%= @book.num_copies_emd %></td></tr>
  <tr><td>Titre de série: </td><td><%= @book.series_title %></td></tr>
  <tr><td>Numéro de série: </td><td><%= @book.series_number %></td></tr>
  <tr><td>Langue: </td><td><%= @book.language %></td></tr>
  <tr><td>Résumé: </td><td><%= @book.summary %></td></tr>
</tbody>
</table>
<% if current_user %>
  <div id="edit-bar" class="pull-right"><%= link_to("Statistiques", statistics_book_path(@book.id)) %> 
    | <%= link_to("Modifier", edit_book_path(@book.id)) %>
    | <span class="label important"><%= link_to 'Supprimer', @book, :confirm => "Est-ce que c'est vous êtes sûr que vous voulez supprimer cet livre?", :method => :delete,  :style => "color:white;" %></span>
  </div>

<% end %>
