<%= javascript_include_tag 'book-checkout' if current_user %>

<ul class="breadcrumb">
  <li><%= link_to "â† Chercher", :back %> <span class="divider">/</span></li>
  <li class="active"><%= @book.title %></li>
</ul>
<div id="full-book-container">
  <%= render 'books/full_book' %>
</div>
<div id="parent-checkout" class="modal hide fade">
  <%= render 'checkout_items/checkout_form' %>
</div>
<div id="parent-checkin" class="modal hide fade">
  <%= render 'checkout_items/checkin_form' %>
</div>
<div id="parent-current-checkouts" class="modal hide fade">
  <%= render 'books/checkout_items' %>
</div>
