<ul class="breadcrumb">
  <li><a id="back-to-search" href="<%= "/?search=#{@search_term}" %>">â† Chercher</a> <span class="divider">/</span></li>
  <li class="active"><%= @book.title %></li>
</ul>
<div id="full-book-container">
<%= render 'books/full_book' %>
</div>
<%= render 'checkout_items/checkout_form' %>
<%= render 'checkout_items/checkin_form' %>
