<ul class="breadcrumb">
  <li><a id="back-to-search" href="#">← Chercher</a> <span class="divider">/</span></li>
  <li class="active"><%= @book.title %></li>
</ul>
<h1>Livre: <%= @book.title %> </h1>
<p><%= link_to("(Edit)", edit_book_path(@book.id)) if current_user %></p>
  <table class="zebra-striped">
    <thead><tr><th>#</th><th>Titre</th></thead>
      <tbody>
  <tr><td>Titre: </td><td><%= @book.title %></td></tr>
<tr><td>Auteur(s): </td><td><% @book.authors.each do |a| %><%= "#{a.last}, #{a.first}; "  %><% end %></td></tr>
  <tr><td>Date de publication: </td><td><%= @book.pub_year %></td></tr>
<tr><td>Sujet(s): </td><td><% @book.subjects.each do |a| %><%= "#{a.name}; "  %><% end %></td></tr>
  <tr><td>Genre: </td><td><%= @book.genre %></td></tr>
  <tr><td>Tranche d'âge: </td><td><%= @book.age_group %></td></tr>
  <tr><td>Nombre de page: </td><td><%= @book.num_pages %></td></tr>
  <tr><td>Nombre de copies: </td><td><%= @book.num_copies %></td></tr>
  <tr><td>Titre de série: </td><td><%= @book.series_title %></td></tr>
  <tr><td>Numéro de série: </td><td><%= @book.series_number %></td></tr>
  <tr><td>Résumé: </td><td><%= @book.summary %></td></tr>
</tbody>
</table>
