<%= javascript_include_tag 'stats' %>

<h2>Statistiques pour <u><%= @book.title %></u></h2>
<br />
  <table class="zebra-striped">
      <tbody>
        <tr><td>Retrait:</td><td><%= @book.checkout_items.count %> fois</td></tr>
        <% if @book.checkout_items.count == 0 %>
          <tr><td>Premier retrait:</td><td>N/A</td></tr>
          <tr><td>Retrait le plus recent:</td><td>N/A</td></tr>
        <% else %>
          <tr><td>Premier retrait:</td><td><%= @book.checkout_items[0].created_at.to_date %></td></tr>
          <tr><td>Retrait le plus recent:</td><td><%= @book.checkout_items[-1].created_at.to_date %></td></tr>
          <tr><td>Graph:</td><td><div id="graph-container" style="width:400px; height:300px;"></div></td></tr>
        <% end %>
      </tbody>
    </table>


    <h3>Qui a retiré(e) cet livre?</h3>
    <br />
  <table class="zebra-striped">
      <tbody>
    <thead><tr><th>Date</th><th>Notes</th></thead>
          <% @book.checkout_items.each do |ci| %>
            <tr><td><%= ci.created_at.to_date %></td><td><%= ci.notes %></td></tr>
          <% end %>
          <% if @book.checkout_items.empty? %>
            <tr><td>Personne.</td></tr>
          <% end %>
      </tbody>
    </table>

    <div id="edit-bar" class="pull-right"><%= link_to "Télécharger comme CSV", statistics_book_path(@book) + ".csv" %></div>
