<div id="checkout-form" >
  <div class="modal-header">
    <h3>Retirer ce livre</h3>
  </div>
  <%= form_for @checkout, :html => {:id => "checkout-item-form" } do |f| %>
    <fieldset>
      <div class="clearfix">
        <%= f.label :notes %>
        <div class="input">
          <%= f.text_field :notes,  {:class => "xlarge" } %>
        <span class="help-block">Il reste <%= @book.checked_in %> copie(s).</span>
        </div>
      </div>

      <%= f.hidden_field :book_id, { :value => @book.id } %>
      <%= f.hidden_field :status, { :value => true } %>

      <div class="actions">
        <%= f.submit("Retirer", { :class => "btn primary", :id => "checkout-form-submit" }) %>
        <a href="#" class="btn secondary" id="checkout-form-cancel">Annuler</a>
      </div>
    </fieldset>
  <% end %>
</div>


