<div id="checkin-form" >
  <div class="modal-header">
    <h3>Inscrire ce livre</h3>
  </div>

  <%= form_for "checkout_item[]", :as => :checkout_item, :url => checkin_many_checkout_items_path, :html => { :method => :post, :id => "checkin-item-form" } do |f| %>
    <fieldset>
      <div class="clearfix">
        <label>Inscrire:</label>
        <div class="input">
          <ul class="inputs-list">
            <% for @checkout_item in @checkout_items %>
              <li>
              <label>
                <%= f.check_box :status, {:checked => false} %>
                <%= f.hidden_field :book_id, { :value => @book.id } %>
                <span><%= " Notes: #{@checkout_item.notes}" %></span>
              </label>
              </li>
            <% end %>
          </ul>
        </div>
      </div>


      <div class="actions">
        <%= f.submit("Inscrire", { :class => "btn primary" }) %>
        <a href="#" class="btn secondary" id="checkin-form-cancel">Annuler</a>
      </div>
    </fieldset>
  <% end %>
</div>

