<!DOCTYPE html>
<html>
  <head>
    <title>BookCatalogue</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'ui-lightness/jquery.ui' %>
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'jquery_ujs' %>
    <%= javascript_include_tag 'jquery.tablesorter.min' %>
    <%= javascript_include_tag 'jquery.ui.min' %>
    <%= javascript_include_tag 'ui.datepicker-fr' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-dropdown' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-modal' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-alerts' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.flot' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <% if current_user %>
          <ul class="nav">
            <li><%= link_to "Chercher", :home %></li>
            <li><%= link_to "Administrateur", :admin %></li>
            <li><%= link_to "Logout", :logout %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Login", :login %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="push"></div>
    <div class="row">
      <%= yield %>
    </div>

  </div><!-- container -->
  <div class="footer"></div>
</body>
</html>
