<!DOCTYPE html>
<html>
  <head>
    <title>BookCatalogue</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'ui-lightness/jquery.ui' %>
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'jquery_ujs' %>
    <%= javascript_include_tag 'jquery.ui.min' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap/bootstrap-dropdown' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container">
    <div class="header"></div>

    <div class="row">
      <%= yield %>
    </div>

  </div><!-- container -->

</body>
</html>
